<h1><%= @task.title %></h1>
  <%= @task.details %>

<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<%= link_to "Home", tasks_path(@tasks) %>

<%= link_to "Edit this Task", edit_task_path(@task) %>

